body {
    margin: 0px;
    font-family: Verdana;
}


#ust1 {
    height: 75px;
    background-color: #0082C4;
}

#ust2 {
    background-color: #fcfcfc;
    height: 75px;
}

#navbar {
    background-color: #121F27;
    height: 100px;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.ustSol {
    height: 75px;
    width: 600px;
    float: left;
}

.ustSag {
    height: 75px;
    width: 500px;
    float: right;
}

#btnSearch {
    background-image: url('/images/search_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: white;
    width: 40px;
    height: 35px;
    float: left;
    cursor: pointer;
}

#txtSearch {
    height: 35px;
    width: 300px;
    border: none;
    float: left;
    padding: 0px 20px;
    font-size: 15px;
    font-family: Verdana;
    color: gray;
}

    #txtSearch:focus {
        outline: none;
    }

#searchPanel {
    width: 380px;
    float: right;
    margin-top: 15px;
}

#MenuKisayol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top:10px;
}

    /**içindeki li*/
    #MenuKisayol li {
        float:left;
    }

    #MenuKisayol li a{
        color:white;
        text-decoration:none;
        font-size:17px;
    }

#sperator{
    margin:0px 10px;
}

#sosyalmedya {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 30px;
}
#sosyalmedya li{
    float:left;
    padding:0px 10px;
    width:30px;
    text-align:center;
}
    #sosyalmedya li i {
        color:white;
    }

.clearFix{
    clear:both;
}

#logo{
    width:268px;
}

#soru1{

    float:left;
}

#soru2 {
    float: right;
    padding-top: 11px;
}
#soruSol{
    float:left;
    width:50px;
}
#soruSag{
    float:right;
    height:50px;
    padding-left:10px;
    
}
.soruIconText{
    font-size:50px;
}

#middleContainer {
    width: 1270px;
    height: 400px;
    margin: 0 auto;
    
}
   
#midcontext1{
    color:black;
    font-family:Verdana;
    font-size:32px;
    text-align:center;
    font-weight:200;
}

#midcontext2{
    color:gray;
    font-family:Verdana;
    font-size:16px;
    text-align:center;
    font-weight:200;
    }

#midControw1{
    width: 1270px;
    height: 125px;
    
}

.columnsize{
   width:400px;
   height:100px;
}

#midControw1Col1 {
    border:1px solid gray;
    
    margin: 5px 0px 0px 5px;
    float: left;
}

#midControw1Col2 {
    border: 1px solid gray;
    margin: 5px 0px 0px 30px;
    float: left;
}

#midControw1Col3 {
    border: 1px solid gray;
    margin: 5px 5px 0px 20px;
    float: right;
}

#midControw2Col1 {
    border: 1px solid gray;
    margin: 5px 0px 0px 5px;
    float: left;
}

#midControw2Col2 {
    border: 1px solid gray;
    margin: 5px 0px 0px 30px;
    float: left;
}

#midControw2Col3 {
    border: 1px solid gray;
    margin: 5px 5px 0px 20px;
    float: right;
}

.logoFix {
    float: left;
    margin: 10px 10px 15px 10px;
}

.textFix{
    margin:10px auto;
   
}